<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>Safe&Surg - About us </title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/static/css/about.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('exploring_page') }}">Safe&Surg</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="{{ url_for('exploring_page') }}">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_patients') }}">My Patients</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ url_for('user_surgeries') }}">My Surgeries  </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_dpt') }}">My Department</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('add_new') }}">Add Patient/Procedure</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Lava Consultans
                    </a>
                    <div class="dropdown-menu active" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item " href="{{ url_for('contact') }}">Contact us </a>
                        <a class="dropdown-item active" href="{{ url_for('about') }}">About us and our mission </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('impressum') }}"> Legal notice / Disclaimer </a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <li class="nav navbar-nav navbar-right px-2">

                <div>
                    <a class="navbar-brand" href="{{ url_for('logout') }}">Logout</a>
                </div>
            </li>
        </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">
                        About us<br><br>
                        <i class="fa fa-user-md" aria-hidden="true" style="font-size:100px;color:rgb(101, 209, 191);"></i>
                        <i class="fa fa-user-nurse" aria-hidden="true" style="font-size:100px;color:rgb(101, 209, 191);"></i>
                        <br>
                    </h1>
                </div>
            </div>
        </div>
    </header>






    <!-- About us content -->

    <br />

    <!-- First Text -->
    <div class="container">
        <h3 class="text-center">
            The Abstract <br>
        </h3>
    </div>

    <div class="container">
        <p class="text-center">
            Lava-Consulting is a German-Peruvian based IT-, healthcare and life-science consulting and solutions company striving to provide healthcare professionals with the solutions they deserve and need.

            Safe&Surg is our newest product which provides surgery departments as well as hospitals with a quick, flexible and customizable solution to document surgeries. In addition to standard functionality it also provides safety features like a mandatory filling out of the WHO Surgery Safety Checklist and educational ressources for junior doctors.

            All this is provided  with 24 h customer support, guaranteed safety and the chance to deploy the system within hours all over the world - be it in previously not digitalized hospitals or crisis regions.
        </p>
    </div>


    <br />
    <div class="container mx-auto">
        <div class="row mb-4 mx-auto">
            <div class="col-md-3 p-1 mx-auto">
                <img src="/static/img/safesurg.png" class="img-fluid mx-auto d-block" alt="Responsive image">
            </div>
            <div class="col-md-3 p-1 mx-auto">
                <img src="/static/img/logo2.png" class="img-fluid mx-auto d-block" alt="Responsive image">
            </div>

        </div>

    </div>

    <!-- Second Text -->
    <div class="container">
        <h3 class="text-center">
            The Background <br>
        </h3>
    </div>

    <div class="container">
        <p class="text-center">
            After first successfull projects Lava-Consulting is now considered an uprising star in the European IT and healthcare sky. Founded by the renowned Peruvian IT and nursing specialist Susanna Vanessa Cárdenas García and the German researching doctor turned entrepreneur Lars Masanneck

            LaVa Consulting now provides highend healthcare applications and consulting services in more than 50 countries. The most successful products include sophisticated nursing robots rolled out with industry partners, pandemic tracking tools implemented for the WHO and the German RKI 

            and modern applications to document healthcare services typeles using machine learning. Due to LaVa Consulting's close relationships to the Hasso-Plattner-Institute in Potsdam and its Digital Health center our work has resulted in countless contributions to academic research.

            <br /> <br />



            Safe&Surg is our newest project which aims to provide especially previously not digitalized hospitals and surgery departments with an easy solution to implement internationally recognized standards. Not only can a high level of digitalization and documentation be implemented 

            overnight but also can the reports and pictures in the surgery files be accessed by junior doctors of the same department for educational purposes. By this we hope to support the training of young medical professionals who do have more than enough to think about already. 
            
            Safe&Surg thus aims to provide modern infrastructure in previously struggeling hospitals without the usual financial burden of implementing a whole hospital information system.
        </p>
    </div>







    <!-- Footer -->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="{{ url_for('about') }}">About</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="{{ url_for('contact') }}">Contact</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="{{ url_for('impressum') }}">Disclaimer</a>
                        </li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; LaVa Consulting 2021. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3">
                            <a href="https://www.facebook.com/ConsultingLaVa/">
                                <i class="fab fa-facebook fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="https://twitter.com/ConsultingLava">
                                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

</body>
</html>