<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>Safe&Surg - Your Surgeries </title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/static/css/user_patients.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('exploring_page') }}">Safe&Surg</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link " href="{{ url_for('exploring_page') }}">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_patients') }}">My Patients</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('user_surgeries') }}">My Surgeries <span class="sr-only">(current)</span> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_dpt') }}">My Department</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('add_new') }}">Add Patient/Procedure</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Lava Consultans
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('contact') }}">Contact us </a>
                        <a class="dropdown-item" href="{{ url_for('about') }}">About us and our mission </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('impressum') }}"> Legal notice / Disclaimer </a>
                    </div>
                </li>
            </ul>
            <li class="nav navbar-nav navbar-right px-2">

                <div>
                    <a class="navbar-brand" href="{{ url_for('logout') }}">Logout</a>
                </div>
            </li>
        </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">
                        Welcome <br><br> {{d_title}} {{doc_name}} <br><br>
                        <i class="fa fa-user-md" aria-hidden="true" style="font-size:100px;color:rgb(101, 209, 191);"></i><br>
                        <br>Your Surgeries
                        <!--We could also work with queries here - and probably should. Something like title and last name from the doctors table. -->
                    </h1>
                </div>
            </div>
        </div>
    </header>

    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">

                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="fa fa-procedures m-auto text-primary"></i>
                        </div>
                        <h3>Your Surgeries</h3>
                        <p class="text-decoration-none">Here you will find all the information about your surgical procedures in the {{doc_dept}} and other departments  </p>
                    </div>
                </div>
                <div class="col-lg-4">
                </div>
            </div>
        </div>
    </section>


    <!-- Table " My Surgeries -->

    <!--Filters for table-->
    <link rel="stylesheet" type="text/css" href="/static/style_tables_test.css" />
    <link rel="stylesheet" type="text/css" href="/static/image_modal.css" />
    <div class="scoreboard" style="display: block;">
        <table class="scoreboardTable">
            <thead class="scoreboardTableHead">
                <tr id="filters" class="filters">
                    <th><input type="text" class="form-control" placeholder="Operation ID"></th>
                    <th><input type="text" class="form-control" placeholder="Patient ID"></th>
                    <th><input type="text" class="form-control" placeholder="Patient Name"></th>
                    <th><input type="text" class="form-control" placeholder="Snomed Code"></th>
                    <th><input type="text" class="form-control" placeholder="Procedure Name"></th>
                    <th><input type="date" class="form-control"></th>
                    <th><input type="text" class="form-control" placeholder="Side"></th>
                    <th><input type="text" class="form-control" placeholder="Checklist"></th>
                    <th><input type="text" class="form-control" placeholder="Outcome"></th>
                    <th><button onclick="filterSurgeries()" class="btn blue-button">Apply Filters</button></th>
                    <th><button onclick="clearFilters()" class="btn grey-background">Clear Filters</button></th>
                </tr>
                <script>
                    filter_match = function(cell, filter) {
                        // filter is either not set or we look for matching cells in the table
                        if (filter.type === "date") {
                            return filter.value.length == 0 || cell.innerText === filter.value
                        } else {
                            return filter.value.length == 0 || cell.innerText.toLowerCase().includes(filter.value.toLowerCase())
                        }
                    }

                    all_filters_match = function(cells, filters) {
                        matches_all_filters = true
                        for (let i = 0; i < filters.length; i++) {
                            matches_all_filters = matches_all_filters && filter_match(cells[i], filters[i]);
                        }
                        return matches_all_filters
                    }

                    filterSurgeries = function() {
                        let rows = document.getElementsByClassName("scoreboardTableBodyRow")
                        for (let row of rows) {
                            let cells = row.getElementsByTagName("td");
                            let filters = document.getElementById("filters").getElementsByTagName("input")
                            if (all_filters_match(cells, filters)) {
                                row.style.display = ""; // shows this row
                            } else {
                                row.style.display = "none"; // hides this row
                            }
                        }
                    }

                    clearFilters = function() {
                        filters = document.getElementById("filters").getElementsByTagName("input")
                        for (let i = 0; i < filters.length; i++) {
                            filters[i].value = ""
                        }
                        filterSurgeries()
                    }
                </script>
    <!--End of Filters for table--> 

                <tr class="scoreboardTableHeaderRow">
                    <th>Operation ID</th>
                    <th>Patient ID</th>
                    <th>Patient Name</th>
                    <th>Snomed Code</th>
                    <th>Procedure Name</th>
                    <th>Date</th>
                    <th>Side</th>
                    <th>Checklist</th>
                    <th>Outcome</th>
                    <th>Comment</th>
                    <th>Picture</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="scoreboardTable-Body"></tbody>
            {% for surgery in operations %}
            <tr class="scoreboardTableBodyRow">
                <td>{{surgery.OperationsTakenPlace.id_operation}}</td>
                <td>{{surgery.Patient.id_patient}}</td>
                <td>{{surgery.Patient.first_name + ' ' + surgery.Patient.last_name}}</td>
                <td>{{surgery.OperationsTakenPlace.snomed_code}}</td>
                <td>{{surgery.SurgeryProcedure.name}}</td>
                <td>{{surgery.OperationsTakenPlace.date}}</td>
                <td>{{surgery.Side.name_side}}</td>
                <td>{{surgery.OperationsTakenPlace.check_list}}</td>
                <td>{{surgery.PostopProcedure.outcome}}</td>
                {% if surgery.OperationsTakenPlace.comments %}
                <td class="truncate table-hover" id="tableComment{{surgery.OperationsTakenPlace.id_operation}}">
                    {{surgery.OperationsTakenPlace.comments}}
                </td>
                {% else %}
                <td>None</td>
                {% endif %}
                {% if surgery.OperationsTakenPlace.pictures %}
                <td><img 
                        class="table-image table-hover"
                        id="tableImage{{surgery.OperationsTakenPlace.id_operation}}"
                        src="data:image/jpeg;base64,{{surgery.OperationsTakenPlace.pictures.decode('utf8')}}"
                /></td>
                {% else %}
                <td>None</td>
                {% endif %}
                <td>
                    <button id="editButton{{surgery.OperationsTakenPlace.id_operation}}" class="btn blue-button">Edit</button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

 
    <!-- Modal for Editing -->
    <div id="editModal" class="modal">
        <!-- The Close Button -->
        <span id="closeEdit" class="close">&times;</span>
        <!-- Modal Content -->
        <div class="modal-content">
            <form method="UPDATE" action="/edit_surgery" class="form-inline my-2 my-lg-0"></form>
                <div class="d-flex flex-column">
                    <h2 id="editModalTitle"></h2>
                    <strong>Patient</strong>
                    <span id="editModalPatient"></span>
                    <strong>SNOMED Code</strong>
                    <span id="editModalSnomed"></span>
                    <strong>Surgery Procedure</strong>
                    <span id="editModalProcedure"></span>
                    <strong>Side</strong>
                    <span id="editModalSide"></span>
                    <strong>Checklist</strong>
                    <span id="editModalChecklist"></span>
                    <strong>Outcome</strong>
                    <span id="editModalOutcome"></span>
                    <strong>Comments - edit</strong>
                    <textarea id="editModalComments"></textarea>
                    <strong>Image - edit</strong>
                    <img id="editModalImage" alt="No Image to display"/>
                    <label for="editModalImageInput" class="btn blue-button">Add/Replace Image</label>
                    <input 
                        type="file"
                        id="editModalImageInput"
                        style="display:none;"
                        name="file"
                        accept="image/*"
                        onchange="displayImage(event)"
                    />
                </div>
                <br/>
                <button class="btn blue-button">
                    Update Surgery
                </button>
            </form>
        </div>
        <!-- Modal Caption (Image Text) -->
        <!-- <div class="modal-caption"></div> -->
    </div>
    <!-- Modal for Images -->
    <div id="imageModal" class="modal">
        <!-- The Close Button -->
        <span id="closeImage" class="close">&times;</span>
        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="modalImage">
        <!-- Modal Caption (Image Text) -->
        <!-- <div class="modal-caption"></div> -->
    </div>
    <!-- Modal for Comments -->
    <div id="commentModal" class="modal">
        <!-- The Close Button -->
        <span id="closeComment" class="close">&times;</span>
        <!-- Modal Content (The Comment) -->
        <div class="modal-content modal-comment" id="modalComment"></div>
    </div>

    <!-- JAVA SCRIPT -->
    {% for surgery in operations %}
    <script>
        // Link Images to Modal via Click
        // Get the modal
        var imgModal = document.getElementById("imageModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById("tableImage{{surgery.OperationsTakenPlace.id_operation}}");
        if (img) {
            var modalImg = document.getElementById("modalImage");
            // var captionText = document.getElementById("caption");
            img.onclick = function(){
                imgModal.style.display = "block";
                modalImg.src = this.src;
                // captionText.innerHTML = this.alt;
            }
        }

        // Get the <span> element that closes the modal
        var span = document.getElementById("closeImage");

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            imgModal.style.display = "none";
        }
        // Link Comments to Modal via Click
        // Get the modal
        var commentModal = document.getElementById("commentModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var comment = document.getElementById("tableComment{{surgery.OperationsTakenPlace.id_operation}}");
        if (comment) {
            var modalComment = document.getElementById("modalComment");
                comment.onclick = function(){
                commentModal.style.display = "block";
                modalComment.innerText = this.innerText
            }
        }

        // Get the <span> element that closes the modal
        var span = document.getElementById("closeComment");

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            commentModal.style.display = "none";
        }
    </script>
    {% endfor %}

    {% for surgery in operations %}
    <script>
        // Link Images to Modal via Click
        // Get the modal
        var editModal = document.getElementById("editModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var editButton = document.getElementById("editButton{{surgery.OperationsTakenPlace.id_operation}}");
        var editModalTitle = document.getElementById("editModalTitle");
        var editModalPatient = document.getElementById("editModalPatient");
        var editModalSnomed = document.getElementById("editModalSnomed");
        var editModalProcedure = document.getElementById("editModalProcedure");
        var editModalSide = document.getElementById("editModalSide");
        var editModalChecklist = document.getElementById("editModalChecklist");
        var editModalOutcome = document.getElementById("editModalOutcome");
        var editModalComments = document.getElementById("editModalComments");
        var editModalImage = document.getElementById("editModalImage");
        editButton.onclick = function(){
            editModalTitle.innerText = "Edit Surgery {{surgery.OperationsTakenPlace.id_operation}}"
            editModalPatient.innerText = "{{surgery.Patient.first_name + ' ' + surgery.Patient.last_name}}"
            editModalSnomed.innerText = "{{surgery.OperationsTakenPlace.snomed_code}}"
            editModalProcedure.innerText = "{{surgery.SurgeryProcedure.name}}"
            editModalSide.innerText = "{{surgery.Side.name_side}}"
            editModalChecklist.innerText = "{{surgery.OperationsTakenPlace.check_list}}"
            editModalOutcome.innerText = "{{surgery.PostopProcedure.outcome}}"
            editModalComments.innerText = `{{surgery.OperationsTakenPlace.comments}}` // backticks for multiline string
            {% if surgery.OperationsTakenPlace.pictures %}
                editModalImage.src = "data:image/jpeg;base64,{{surgery.OperationsTakenPlace.pictures.decode('utf8')}}";
            {% endif %}
            editModal.style.display = "block";
        }

        // display new image on update/replace click
        var displayImage = function(event) {
            var reader = new FileReader();
            reader.onload = function(){
                editModalImage.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        };

        // Get the <span> element that closes the modal
        var span = document.getElementById("closeEdit");

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            editModalImage.src = "";
            editModal.style.display = "none";
        }
    </script>
    {% endfor %}


    <!-- END JAVA SCRIPT.... -->

    <!-- Testimonials -->
    <section class="testimonials text-center bg-light">
        <div class="container">
            <h2 class="mb-5">Our Partners</h2>
            <div class="row">
                <div class="col-lg-3">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <a href="https://www.who.int/">
                            <img src="/static/img/partners-3.jpg" alt="World Health Organization">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <a href="https://www.rki.de/DE/Home/homepage_node.html">
                            <img src="/static/img/partners-2.jpg" alt="Robert Koch-Institut">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <a href="https://www.mountsinai.org/">
                            <img src="/static/img/partners-4.jpg" alt="Mount Sinai">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <a href="https://hpi.de/">
                            <img src="/static/img/partners-5.jpg" alt="HPI">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Call to Action -->
    <section class="call-to-action text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form>
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0">
                            </div>
                            <div class="col-12 col-md-3">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="{{ url_for('about') }}">About</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="{{ url_for('contact') }}">Contact</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="{{ url_for('impressum') }}">Disclaimer</a>
                        </li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; LaVa Consulting 2021. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3">
                            <a href="https://www.facebook.com/ConsultingLaVa/">
                                <i class="fab fa-facebook fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="https://twitter.com/ConsultingLava">
                                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</body>

</html>
