Flask~=1.1
mysqlclient
mysql-connector-python
pymysql
cx_Oracle
flask_mysqldb
flask_sqlalchemy
flask_migrate
flask-session
redis
flask_redis
python_dotenv
flask_wtf
wtforms
flask_login
werkzeug
flask_table
flask_uploads
base64image